* {
  box-sizing: border-box;
}

body,div,span,applet,object,iframe,a,img{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  display: block;
}

.hide {
  display: none
}

.bold {
  font-weight: bold;
  font-size: 1.2em;
}
