.main {
  padding: 20px;
  margin-top: 30px;
  background-color: "white";
  height: 1500px;
}


.hide {
  display: none
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.bold {
  font-weight: bold;
  font-size: 1.2em;
}

.left {
  float: left;
}

.right {
  float: right;
}



// Header
.menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #43525c;
  position: fixed;
  top: 0;
}

.logo {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 150px;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    font-weight: bold;
    background-color: #4CAF50;
    border-bottom: 4px solid #7ae9e6;
}




// Tabs
.tab {
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Style the buttons inside the tab */

.tablinks {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
}




// Favoritos , list de casas y personajes secundarios
.characterElem {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 0px 1px silver;
}

.stars{
  padding: 15px 0;
  text-align: center;
}

.imageCharacter, .house-img{
  padding: 10px 0;
}

.nameCharacter ,.house-name{
  text-align: center;
  padding: 15px 0;
}

.avatar2 {
  cursor: pointer;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}

@media all and (min-width: 768px) {
  .characterElem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 0px 1px silver;
  }

  .stars{
    width: 200px;
    text-align: left;
  }

  .imageCharacter, .house-img{
    width: 100px;
  }

  .nameCharacter, .house-name{
    width: 250px;
    margin-left: 30px;
    text-align: left;
  }
}


// Modal

.characterInfo {
  padding: 30px;
  position: absolute;
  background: white;
  top:0;
  right: 0;
  height: auto;
  box-shadow: -10px 0px 40px 1px #aaaaaa;

  @media all and (min-width: 1024px) {
    width: 40%;
  }
}

.characterResume {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 100px;
}

.tarjeta-info {
  width: 100%;
}

.tarjeta-menu {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.tarjeta-menu li {
  padding: 10px 0;
}

.selected {
  border-bottom: 2px solid green;
}

.justify {
   text-align: justify;

}
